{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m6">
        <div class="card small">
            <div class="card-content">
                <span class="card-title grey-text activator text-darken-4">salam<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Hello<i class="material-icons right">close</i></span>
                <p>some secret information!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
