{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="col s12 m12">
    {% if branches|length == 0 %}
        <div class="col card loginCard push-s4 s4">
            <div class="card-content center-align">
                متاسفانه این رستوران فعلا شعبه‌ای ندارد
            </div>
        </div>
    {% else %}
        <div class="section">
            <h5>شعبات</h5>
        </div>
        <div class="divider"></div>
        <table>
            <thead>
                <tr>
                    <th class="right">شماره</th>
                    <th >نام</th>
                    <th >محدوده سرویس</th>
                    <th >آدرس</th>
                </tr>
            </thead>
            <tbody>
            {% for branch in branches %}
                <tr>
                    <td class="right"><a href="{% url 'menuSpecific' branch.id %}">شعبه{{ branch.id }}</a></td>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.serviceRegion }}</td>
                    <td>{{ branch.address }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
