{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
            <div class="card-title">
                لغو سفارش
            </div>
            <div class="card-content center-align">
                آیا مطمئنید می‌خواهید سفارش مورد نظر را کنسل کنید؟
                </br>
                (در اینصورت فقط
                {{ order.cancel }}
                درصد از هزینه اولیه‌تان برمی‌گردد)
            </div>
            <div class="card-action center-align">
                <a class="btn red" style="margin-left:10px" href="{% url 'cancelOrder' order.id %}">بله</a>
                <a class="btn" style="margin-right:10px" href="{% url 'myOrders' %}">خیر</a>
            </div>
    	</div>
{% endblock %}
