{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
            <div class="card-content center-align">
                اعتبار
                {% if username %}
                    {{ username }}
                {% else %}
                    شما
                {% endif %}
                به میزان
                {{ amount }}
                هزار تومان افزایش یافت.
            </br>
                می‌توانید از این صفحه خارج شوید.
            </div>
            <div class="card-action center-align">
                <a class="btn" style="margin-right:10px" href="{% url 'seeCredit' %}">مشاهده‌ی اعتبار</a>
            </div>
    	</div>
{% endblock %}
