{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
                <div class="card-content center-align">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>نام غذا</th>
                                <th>تعداد</th>
                                <th>قیمت واحد</th>
                                <th>قیمت کل</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for food in order %}
                                <tr>
                                    <td>{{ food.name }}</td>
                                    <td>{{ food.num }}</td>
                                    <td>{{ food.price }}</td>
                                    <td>{{ food.totalPrice }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        {% if afterDiscount %}
                            <tfoot style="border-top:1px dotted; font-weight:bold">
                                <tr>
                                    <td>با تخفیف</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ afterDiscount }}</td>
                                </tr>
                            </tfoot>
                        {% endif %}
                        <tfoot style="border-top:1px dotted; font-weight:bold">
                            <tr>
                                <td>مجموع</td>
                                <td></td>
                                <td></td>
                                <td>{{ totalPrice }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-action center-align">
                    {% if not periodic %}
                        {% if needCharge > 0 %}
                            {% if isCashier %}
                                برای ادامه مابه‌التفاوت
                                {{ needCharge }}
                                را از مشتری دریافت کنید
                            {% else %}
                                لطفا قبل از ادامه اعتبار حساب کاربری خود را به اندازه‌ی
                                {{ needCharge }}
                                هزار تومان افزایش دهید
                            {% endif %}
                            <form action="{% url 'chargeAccount' %}" method="POST" target="_blank">
                                {% csrf_token %}
                                <input type="hidden" name="amount" value="{{ needCharge }}" />
                                {% if isCashier %}
                                    <input type="hidden" name="username" value="{{ username }}" />
                                {% endif %}
                                <button type="submit" class="btn yellow darken-2" target="_blank"
                                    style="margin-left:10px">
                                    {% if isCashier %}
                                        تایید دریافت
                                    {% else %}
                                        افزایش اعتبار
                                    {% endif %}
                                </button>
                            </form>
                            <div class="divider" style="margin:10px 0px;"></div>
                        {% endif %}
                        <form action="{% url 'submitOrder' %}" method="POST">
                    {% else %}
                        <form action="{% url 'submitOrder' %}" method="POST">
                        سفارش دوره‌ای:
                        </br>
                        <div class="row">
                            <div class="input-field col s6 push-s3">
                                <input placeholder="hh:mm" name="time" id="time"
                                    type="text" class="validate" value="{{ time }}" required="true">
                                <label for="time">ساعت</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="yyyy/mm/dd" name="end_date" id="end_date"
                                    type="text" class="validate">
                                <label for="end_date">تاریخ پایان (اختیاری)</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="yyyy/mm/dd" name="start_date" id="start_date"
                                    type="text" class="validate" value="{{ startDate }}" required="true">
                                <label for="start_date">تاریخ شروع</label>
                            </div>
                        </div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                        <input type="checkbox" class="filled-in" id="day0" name="day0" />
                        <label for="day0">شنبه</label>
                                    </td>
                                    <td>
                        <input type="checkbox" class="filled-in" id="day1" name="day1" />
                        <label for="day1">یکشنبه</label>
                                    </td>
                                    <td>
                        <input type="checkbox" class="filled-in" id="day2" name="day2" />
                        <label for="day2">دوشنبه</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                        <input type="checkbox" class="filled-in" id="day3" name="day3" />
                        <label for="day3">سه‌شنبه</label>
                                    </td>
                                    <td>
                        <input type="checkbox" class="filled-in" id="day4" name="day4" />
                        <label for="day4">چهارشنبه</label>
                                    </td>
                                    <td>
                        <input type="checkbox" class="filled-in" id="day5" name="day5" />
                        <label for="day5">پنجشنبه</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td><td>
                        <input type="checkbox" class="filled-in" id="day6" name="day6" />
                        <label for="day6">جمعه</label>
                                    </td><td></td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <input type="hidden" name="periodic" value="{{ periodic }}">
                    <input type="hidden" name="branchId" value="{{ branchId }}">
                    {% if discountId %}
                        <input type="hidden" name="discountId" value="{{ discountId }}">
                    {% endif %}
                    {% if isCashier %}
                        <input type="hidden" name="username" value="{{ username }}" />
                        <div class="row">
                            <div class="input-field col s6 push-s3">
                                <input name="tableNum" id="tableNum"
                                       type="number" class="validate" value="1">
                                <label for="tableNum">شماره میز</label>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <p class="col s6" style="margin-top:20px">
                            <input type="checkbox" id="takeHome" name="takeHome" />
                            <label for="takeHome">خانه</label>
                        </p>
                        <p class="col s6" style="margin-top:20px">
                            <input type="checkbox" id="withChild" name="withChild" />
                            <label for="withChild">کودک همراه</label>
                        </p>
                    </div>
                    <div class="divider"></div>
                    <p class="center-align">آیا سفارش بالا درست است؟</p>
                        {% csrf_token %}
                        {% for food in order %}
                            <input type="hidden" name="foodId{{ food.id }}" value="{{ food.num }}" />
                        {% endfor %}
                        <button type="submit" class="btn green" style="margin-left:10px">بله</button>
                        <a class="btn red" style="margin-right:10px" href="{% url 'menu' %}">خیر</a>
                    </form>
                </div>
            </form>
    	</div>
{% endblock %}
