{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
            <div class="card-content center-align">
                {% if found %}
                    پارکینگ در روز و ساعت مورد نظر رزرو شد.
                {% else %}
                    متاسفانه در روز و ساعت مورد نظر جای خالی موجود نبود.
                {% endif %}
            </div>
            <div class="card-action center-align">
                <a class="btn" style="margin-right:10px" href="{% url 'parking' %}">پارکینگ</a>
            </div>
    	</div>
{% endblock %}
