{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col s12 m12">
	<div class="section"><h5>کارمندان</h5></div>
	<div class="devider"></div>
	<table >
		<thead>
		<tr>
			<th class="right-align">نام</th>
			<th class="right-align">حقوق</th>
			<th class="right-align">تاریخ تولد</th>
		</tr>
		</thead>
		<tbody>
		{% for employee in employees %}
			<tr>
			<td class="right-align">{{ employee.user.name}}</td>
			<td class="right-align">{{ employee.salary}}</td>
			<td class="right-align">{{ employee.birthDate}}</td>
			<td class="right-align">
				<form action="{% url 'chargeAccount' %}" method="POST" target="_blank">
					<button type="submit" class="input-field left col s3 btn green darken-1"
							target="_blank">
						ویرایش
					</button>
				</form>


			</td>

			</tr>
		{% endfor %}
		<!-- <tr>
			<td class="right-align">مجموع {{result_name}}</td>
			<td class="right-align">{{result_value}}</td>
			<td class="right-align">{{result_message}}</td>
		</tr> -->
		</tbody>
	</table>
<!--
	<form action="{% url 'showReports' %}" method="POST">
			{% csrf_token %}
				<div  class="row">
					<div class="input-field col ">
						<button class="btn waves-effect waves-teal" id="sub_btn" name="sub" type="submit" min="0">محاسبه ی مجموع</button>
					</div>
					<div class="input-field col" style="width:100px">
						<input id="type_field" name="report_type" type="text" />
						<label for="type_field">نوع گزارش</label>
					</div>
					<div class="input-field col" style="width:100px">
						<input id="message_field" name="report_message" type="text" />
						<label for="type_field">پیغام گزارش</label>
					</div>
				</div>
				<div  class="row">
				</div>
	</form> -->
</div>
{% endblock %}
