{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
            {% if foodReview %}
                <form action="{% url 'submitFoodReview' %}" method="POST">
            {% else %}
                <form action="{% url 'submitReview' %}" method="POST">
            {% endif %}
                <input type="hidden" name="reviewId" value="{{ review.id }}">
                {% csrf_token %}
                <div class="card-content center-align">
                    <div class="card-title">ثبت بازخورد</div>
                    {% if foodReview %}
                        برای {{ review.food.name }}
                    {% else %}
                        به {{ review.employee.title }}
                        </br>
                        برای {{ review.content }}
                    {% endif %}
                    <div class="divider" style="margin:10px 0"></div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="content" name="content" class="materialize-textarea"></textarea>
                            <label for="content">نظر شما</label>
                        </div>
                        <label class="right">کیفیت سرویس</label>
                        <div class="input-field col s12">
                            <p class="range-field">
                                <input class="col s12" type="range" id="quality" name="quality" min="0" max="5" value="5"/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center-align">
                    <button class="btn green" type="submit" style="margin-right:10px">ثبت</button>
                </div>
            </form>
    	</div>
{% endblock %}
