{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="col s12 m12">
    <div class="section">
        <h5>ویرایش منو</h5>
    </div>
    <div class="divider"></div>
        <div class="col s4 m4 l4">
            <div class="card small hoverable">
                <div class="card-image">
                    {% if food.imgUrl %}
                        <img src="{{ food.imgUrl }}">
                    {% else %}
                        <img src="{% static "main/images/noImage.jpg" %}">
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title">{{ food.name }}</span>
                    <span class="grey-text activator text-darken-4">
                        <i class="material-icons left">more_vert</i>
                    </span>
                    <p class="valign-wrapper ">{{ food.price }}<i class="right material-icons tiny">attach_money</i>
                        <span class="col s4 pull-s6">
				<label> Preview </label>
                        </span>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">details<i class="material-icons right">close</i></span>
                    <p>{{ food.properties }}</p>
                </div>
            </div>
        </div>

	<div class="col s8 m8 l8">
        <div class="card  super-large form-card">

                <div class="card-content" style="
    max-height: 100%;">

                    {% if is_new %}
                        <span class="card-title">غذای جدید</span>
                    {% else %}
                        <span class="card-title">{{ food.name }}</span>
                    {% endif %}
                    <div class="row">
                    <form class="col" id="editForm" action="{% url 'menuSave' %}" method='POST' style="text-align:right;float:right">
                    {% csrf_token %}
                            {% if is_new %}
                                <input type="hidden" name="new" id="new_field" value=""/>
                            {% endif %}

                            {% if is_new %}
                            <div class="row">
                                <div  class="input-field col s6 right">
                                    <input id="name_field"  value="{{ food.name }}" type="text" name="food_name"/>
                                    <label for="name_field" > نام غذا</label>
                                </div>
                            </div>
                            {% else %}
                                    <input type="hidden" id="name_field"  value="{{ food.name }}"  name="food_name"/>
                            {% endif %}

                            <div class="row">
                                <div class="input-field col s12 right">
                                    <input id="imgUrl_field"  value="{{ food.imgUrl }}" type="url" name="food_imgUrl"/>
                                    <label for="imgUrl_field" > آدرس تصویر</label>
                                </div>
                            </div>

                            <div class="row">
                                        <div class="input-field col s2 right">
                                            <input id="price_field" name="food_price" value="{{ food.price }}" min="0" type="number" style="margin:0">
                                            <label for="price_field">قیمت</label>
                                        </div>
                                        <div class="input-field col s2 right">
                                            <input id="cookAbility_field" name="food_cookAbility" value="{{ food.cookAbility }}" min="0" max="10" type="number" style="margin:0">
                                            <label for="cookAbility_field">توانایی آشپز</label>
                                        </div>
                            </div>
                            <div class="row">
                               <div class="input-field col s12 right">
                                  <p>
                                     <input id="isAvailable_field" name="food_isAvailable" type="checkbox" {%if food.isAvailable%}checked="checked"{%endif%} class="filled-in" >
                                     <label for="isAvailable_field">موجود</label>
                                  </p>
                                  <p>
                                     <input id="isSuggested_field" name="food_isSuggested" type="checkbox"  {%if food.isSuggested%}checked="checked"{%endif%} class="filled-in" >
                                     <label for="isSuggested_field">غذای پیشنهادی</label>
                                  </p>
                                  <p>
                                     <input id="isInMenu_field" name="food_isInMenu" type="checkbox" {%if food.isInMenu%}checked="checked"{%endif%} class="filled-in" >
                                     <label for="isInMenu_field">نمایش در منو</label>
                                  </p>
                               </div>
                            </div>
                            <div class="row">
                               <div class="input-field col s12 right">
                                  <textarea id="properties_field" name="food_properties" class="materialize-textarea">{{ food.properties }}</textarea>
                                  <label for="properties_field">مشخصات غذا (به فرمت دقت کنید)</label>
                               </div>
                            </div>

                            <div class="row">
                                {% if not is_new %}
                                <div class="input-field col right">
                                    <button class=" green btn waves-effect waves-light " id="remove_button"   type="submit" value="remove" type="url" name="remove">حذف غذا</button>
                                </div>
                                {% endif %}
                                <div class="input-field col right">
                                    <button class=" green btn waves-effect waves-light " id="submit_button"   type="submit" value="submit" type="url" name="submit">ثبت</button>
                                </div>
                            </div>

                    </form>
                    </div>
                </div>
		</div>
    </div>

</div>
{% endblock %}
