{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="col card loginCard push-s4 s4">
    <div class="card-content center-align">
        <div style="font-weight:bold">
            {% if not mine %}
                نام مشتری: {{ customer.user.first_name }}&nbsp;&nbsp;{{ customer.user.last_name }}
            </br>
            {% endif %}
            وضعیت: {{ order.status }}
        </div>
        <div class="divider" style="margin:10px 0"></div>
        <table class="striped">
            <thead>
                <tr>
                    <th>نام غذا</th>
                    <th>تعداد</th>
                    <th>قیمت واحد</th>
                    <th>قیمت کل</th>
                </tr>
            </thead>
            <tbody>
                {% for of in foods %}
                    <tr>
                        <td>{{ of.foodName }}</td>
                        <td>{{ of.count }}</td>
                        <td>{{ of.foodPrice }}</td>
                        <td>{{ of.totalPrice }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot style="border-top:1px dotted; font-weight:bold">
                <tr>
                    <td>مجموع</td>
                    <td></td>
                    <td></td>
                    <td>{{ order.totalPrice }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-action center-align">
        {% if order.periodic %}
            <div class="row">
                ساعت: {{ order.periodic.deliveryTime.isoformat }}
                </br>
                روز‌(ها): {{ order.periodic.daysStr }}
                </br>
                شروع: {{ order.periodic.startDateStr }}
                </br>
                پایان: {{ order.periodic.endDateStr }}
            </div>
        {% endif %}
        {% if order.periodic or order.cancel != 0 and mine or isCashier %}
        <div class="row">
            <a class="btn red" href="{% url 'cancelOrderCheck' order.id %}">کنسل کردن سفارش</a>
        </div>
            {% if mine %}
                <div class="divider"></div>
            {% endif %}
        {% endif %}
        {% if mine and reviews or foodReviews %}
            <div class="row">
                <div style="font-weight:bold; margin-bottom:10px">بازخوردها</div>
                {% if reviews %}
                    <div style="margin-bottom:10px">می‌توانید نظر خود را در مورد کارمندان وارد کنید:</div>
                    {% for r in reviews %}
                    <div class="col s12">
                        <a class="blue-text text-darken-2" href="{% url 'getReview' r.id %}">
                            ({{ r.employee.title }}) {{ r.content }}
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
                {% if foodReviews %}
                    <div style="margin-bottom:10px">می‌توانید نظر خود را در مورد غذا‌ها وارد کنید:</div>
                    {% for r in foodReviews %}
                    <div class="col s12">
                        <a class="blue-text text-darken-2" href="{% url 'getFoodReview' r.id %}">
                            {{ r.food.name }}
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
