{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="col s12 m12">
    <div class="section">
        <h5>سفارشات
            {% if mine %}
                من
            {% endif %}
        </h5>
    </div>
    <div class="divider"></div>
    <table>
        <thead>
            <tr>
                <th class="right">تاریخ ثبت</th>
                <th >دوره‌ای؟</th>
                <th >خانه؟</th>
                <th >کودک همراه؟</th>
                <th>قیمت کل</th>
                <th>وضعیت</th>
                <th>کنسل‌کردن</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td class="right"><a href="{% url 'showOrder' order.id %}">{{ order.time }}</a></td>
                <td>
                    {% if order.periodic %}
                        بله
                    {% else %}
                        خیر
                    {% endif %}
                </td>
                <td>
                    {% if order.forHome %}
                        بله
                    {% else %}
                        خیر
                    {% endif %}
                </td>
                <td>
                    {% if order.withChild %}
                        بله
                    {% else %}
                        خیر
                    {% endif %}
                </td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.status }}</td>
                <td>
                    {% if order.periodic or order.cancel != 0 %}
                        <a class="btn-floating" href="{% url 'cancelOrderCheck' order.id %}"><i class="material-icons red">remove</i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
