{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="col s12 m12">
    <div class="section">
        <h5>رزرو‌های پارکینگ</h5>
    </div>
    <div class="divider"></div>
    <table>
        <thead>
            <tr>
                <th class="right">تاریخ ثبت</th>
                {% if parkingEmployee %}<th>مشتری</th>{% endif %}
                <th>ساعت</th>
                <th>مکان</th>
            </tr>
        </thead>
        <tbody>
        {% for p in parkings %}
            <tr>
                <td class="right">{{ p.dayStr }}</td>
                {% if parkingEmployee %}<td>{{ p.customer.name }}</td>{% endif %}
                <td>{{ p.get_hour_display }}</td>
                <td>{{ p.place }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if not parkingEmployee %}
        <form action="{% url 'confirmParking' %}" method="POST">
            {% csrf_token %}
            <div class="col card push-s4 s4" style="margin-top:70px">
                <div class="card-content center-align">
                    رزرو پارکینگ
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="yyyy/mm/dd" name="day" id="day"
                                type="text" class="validate" value={{day}}>
                            <label for="day">تاریخ</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="hour" id="hour"
                                   type="number" class="validate" min="6" max="22" value="6">
                            <label for="hour">ساعت</label>
                        </div>
                    </div>
                </div>
                <div class="card-action center-align">
                    <button type="submit" class="btn" style="margin-right:10px">رزرو</button>
                </div>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
