{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s3 s6">
            <div class="card-title center-align">
                پروفایل
            </div>
            <div class="card-content">
                <p style="margin-bottom: 20px">
                    {{ request.user.first_name }}&nbsp;&nbsp;{{ request.user.last_name }} ({{ title }})
                </p>
                <p>
                    اعتبار فعلی : {{ credit }}
                    <a class="btn green" style="margin-right:30px" href="{% url 'seeCredit' %}">افزایش</a>
                </p>
            </div>
            <div class="card-action center-align"  >
                {% if cur_rm %}
                <a class="btn green" style="margin-right:30px" href="{% url 'showResources' %}">منابع</a>
                    {% if cur_rm.readAccess >= 5 %}
                        <a class="btn green" style="margin-right:30px" href="{% url 'showReports' %}">گزارشات</a>
                    {% endif %}
                {% endif %}
                {% if cur_car %}
                    {% if cur_car.atWork %}
                        <a class="btn red" style="margin-right:30px" href="{% url 'leaveWork' %}">اتمام شیفت</a>
                    {% else %}
                        <a class="btn green darken-2" style="margin-right:30px" href="{% url 'startWork' %}">شروع شیفت</a>
                    {% endif %}
                {% endif %}
                {% if cur_emp %}
                        <a class="btn green" style="margin-right:30px" href="{% url 'showTasks' %}">وظایف</a>
                {% endif %}
            </div>
    	</div>
{% endblock %}
