{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="col s12 m12">
    <form method="POST" action="{% url 'checkSubmitOrder' %}">
    {% csrf_token %}
    <input type="hidden" name="branchId" value="{{ branchId }}">
    <div class="section">
        <h5 style="height:35px">
            غذا‌ها
            <button type="submit" class="green darken-2 btn-large btn-floating waves-effect waves-light left"
                name="action" value="regular">
                <i class="material-icons">shopping_cart</i></button>
            <button type="submit" class="amber darken-2 btn-large btn-floating waves-effect waves-light left"
                name="action" value="periodic" style="margin-left:10px">
                <i class="material-icons">restore</i></button>
                {% if isCashier %}
                <div class="col s8">
                <p style="font-size:1rem" class="col s4 right">
                    سفارش برای:
                </p>
                    <div class="input-field col s3 right" style="margin-top:unset">
                         <input id="username" name="username" type="text" value="anon"/>
                         <label for="username">نام کاربری</label>
                     </div>
                </p>
            </div>
                {% endif %}
        </h5>
    </div>
    <div class="divider"></div>
    {% if discounts %}
    <div class="col s4">
        <div class="card small hoverable">
            <div class="card-title center-align" style="padding-top:15px">
                تخفیف‌ها:
            </div>
            <div class="card-content" style="max-height:unset;overflow:unset">
                آیا می‌خواهید از یکی از تخفیف‌ها استفاده کنید؟
                <div class="row">
                    <p class="col s4 push-s3">
                        <input name="discountOrNot" type="radio" id="noDiscount" value="0"/>
                        <label for="noDiscount">خیر</label>
                    </p>
                    <p class="col s4 push-s2">
                        <input name="discountOrNot" type="radio" id="useDiscount" value="1" checked="checked"/>
                        <label for="useDiscount">بله</label>
                    </p>
                </div>
                <div>
                {% for d in discounts %}
                <div class="col s12">
                    <p class="col s6 push-s4">
                        <input type="radio" id="discount{{d.id}}" value="{{d.id}}" name="discountId" checked="checked"/>
                        <label for="discount{{d.id}}">{{d.percent}}٪</label>
                    </p>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% for food in foods %}
        <div class="col s4">
            <div class="card small hoverable {% if  not food.isAvailable or not food.isInMenu %} disabled {% endif %}">
                <div class="card-image">
                    {% if food.imgUrl %}
                        <img src="{{ food.imgUrl }}">
                    {% else %}
                        <img src="{% static "main/images/noImage.jpg" %}">
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title">{{ food.name }}</span>
                    <span class="grey-text activator text-darken-4 col s2">
                        <i class="material-icons left">more_vert</i>
                    </span>
                    {% if can_edit %}
                    <span class="grey-text text-darken-4 col s2">
                        <a class = "icon-link left" style="padding:0;margin:0" href="{% url 'menuEdit' %}?food={{ food.name }}"><i  class="material-icons left">mode_edit</i></a>
                    </span>
                    {% endif %}
                    <p class="valign-wrapper ">{{ food.price }}<i class="right material-icons tiny">attach_money</i>
                        <span class="col s4 pull-s6">
                            <input name="foodId{{ food.id }}" value="0" min="0" type="number" style="margin:0">
                        </span>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">توضیحات<i class="material-icons right">close</i></span>
                    <p>{{ food.properties | linebreaks }}</p>
                    <p>{{ food.reviewsStr | linebreaks }}</p>
                </div>
                {% if food.isChefSuggestion %}
                <div class="suggested-label chef-suggestion">
                    <p>
                    پیشنهاد <br/>
                    سر آشپز
                    </p>
                </div>
                {% else %}
                {%if food.isSuggested %}
                <div class="suggested-label">
                    <p>
                        غذای پیشنهادی
                    </p>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if can_edit %}
        <div class="col s4">
            <div class="card small hoverable">
                <div class='col s12' style="margin-top:30px">
                    <div class="card-content" style="text-align:right;">
                    <span class="card-title">غذای جدید</span>
                    <p  style="text-align:right">
                    برای اضافه کردن غذای جدید بر روی لینک زیر کلیک نمایید.
                    </p>
                    </div>
                    <div class = "col s12" >
                        <center>
                            <a href="{% url 'menuEdit' %}" class="btn waves-effect waves-teal">اضافه کردن <span><i class="left material-icons">add</i></span></a>
                        </center>
                    </div>
                </div>
            </div>
        <div>
    {% endif %}
    </form>
</div>
{% endblock %}
