{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
            <div class="card-content center-align">
                اعتبار فعلی شما:
                </br>
                <p class="center-align" style="font-weight:bold">
                    {{ credit }}
                    هزار تومان
                </p>
            </div>
            <div class="card-action center-align">
                <div class="row">
                    افزایش اعتبار:
                </div>
                <div class="row file-field">
                    <form action="{% url 'chargeAccount' %}" method="POST" target="_blank">
                    {% csrf_token %}
                        <div class="input-field col s9 right">
                            <input type="number" id="amount" name="amount"
                                    value="0" min="0" value="{{ needCharge }}" />
                            <label for="amount">مقدار</label>
                        </div>
                        <button type="submit" class="input-field left col s3 btn green darken-1"
                                target="_blank">
                            افزایش اعتبار
                        </button>
                    </form>
                </div>
            </div>
    	</div>
{% endblock %}
