{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col s12 m12">
	<div class="section"><h5>منابع</h5></div>
	<div class="devider"></div>
	<table >
		<thead>
		<tr>
			<th class="right-align">نوع</th>
			<th class="right-align">مقدار</th>
			<th class="right-align">پیام</th>
		</tr>
		</thead>
		<tbody>
		{% for report in reports %}
			<tr> 
			<td class="right-align">{{report.type}}</td>
			<td class="right-align">{{report.value}}</td>
			<td class="right-align">{{report.message}}</td>
			</tr>
		{% endfor %}
		<tr> 
			<td class="right-align">مجموع {{result_name}}</td>
			<td class="right-align">{{result_value}}</td>
			<td class="right-align">{{result_message}}</td>
		</tr>
		</tbody>
	</table>

	<form action="{% url 'showReports' %}" method="POST">
			{% csrf_token %}
				<div  class="row">
					<div class="input-field col ">
						<button class="btn waves-effect waves-teal" id="sub_btn" name="sub" type="submit" min="0">محاسبه ی مجموع</button> 
					</div>
					<div class="input-field col" style="width:100px">
						<input id="type_field" name="report_type" type="text" /> 
						<label for="type_field">نوع گزارش</label>
					</div>
					<div class="input-field col" style="width:100px">
						<input id="message_field" name="report_message" type="text" /> 
						<label for="type_field">پیغام گزارش</label>
					</div>
				</div>
				<div  class="row">
				</div>
	</form>
</div>
{% endblock %}