{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col s12 m12">
	<div class="section"><h5>منابع</h5></div>
	<div class="devider"></div>
	<table >
		<thead>
		<tr>
			<th class="right-align">نام منبع</th>
			<th class="right-align">مقدار منبع</th>
			<th class="right-align">توضیحات</th>
			<th class="right-align">ثبت تغییر</th>
		</tr>
		</thead>
		<tbody>
		{% for resource in resources %}
			<tr> 
			<td class="right-align">{{resource.name}}</td>
			<td class="right-align">{{resource.value}}</td>
			<td class="right-align">{{resource.properties}}</td>
			<td class="right-align">{% if resource.writeLevel <= cur_rm.writeAccess %} 
			<form action="{% url 'modifyResource' %}" method="POST">
			{% csrf_token %}
				<input type="hidden" name="resource_name" value="{{resource.name}}"/>
				<div  class="row">
					<div class="input-field col ">
						<button class="btn-floating waves-effect waves-teal" id="sub_btn" name="sub" type="submit" min="0"><i class="material-icons">remove</i></button> 
					</div>
					<div class="input-field col" style="width:100px">
						<input id="value_change_field" name="value_change" type="number" min="0"/> 
						<label for="value_change_field">مقدار تغییرات </label>
					</div>
					<div class="input-field col ">
						<button class="btn-floating waves-effect red" id="add_btn" name="add" type="submit">  <i class="material-icons">add</i></button> 
					</div>
				</div>
				<div  class="row">
				</div>
			</form>
			{% endif %}</td>
			</tr>
		{% endfor %}
			{% if cur_rm.writeAccess > 5 %}
			<form action="{% url 'newResource' %}" method="POST">
			{% csrf_token %}
				<tr> 
					<td  class="right-align">
						<div class="input-field col s12">
								<input id="resource_name_field" name="resource_name" type="text"/> 
								<label for="resource_name_field">نام منبع جدید </label>
						</div>
					</td>
					<td class="right-align">
						<div class="input-field col s12">
								<input id="resource_value_field" name="resource_value" type="number"/> 
								<label for="resource_value_field">مقدار </label>
						</div>
					</td >
					<td class="right-align" >
						<div class="input-field col s12">
								<textarea id="resource_properties_field" name="resource_properties" > </textarea>
								<label for="resource_properties_field">مشخصات </label>
						</div>
					</td>
					<td  class="right-align">
						<div  class="row">
							<div class="input-field col"  style="width:100px">
								<input id="resource_r_field" name="resource_r" type="number" min="0"/> 
								<label for="resource_r_field">سطح خواندن </label>
							</div>
							<div class="input-field col"  style="width:100px">
								<input id="resource_w_field" name="resource_w" type="number" min="0"/> 
								<label for="resource_w_field">سطح نوشتن </label>
							</div>

							<div class="input-field col">
								<button class="btn-floating waves-effect waves-teal red" id="add_btn" name="add" type="submit" min="0"> <i class="material-icons">add</i></button> 
							</div>
						</div>
			
					</td>
				</tr>
			</form>
			{% endif %}
			</tbody>
	</table>
</div>
{% endblock %}