{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col s12 m12">
	<div class="section"><h5>وظایف</h5></div>
	<div class="devider"></div>
	<table >
		<thead>
		<tr>
			<th class="right-align">نام وظیفه</th>
			<th class="right-align">جزئیات وظیفه</th>
			<th class="right-align">تکمیل</th>
		</tr>
		</thead>
		<tbody>
		{% for task in tasks %}
			<tr>
			<td class="right-align">{{task.name}}</td>
			<td class="right-align">{{task.details}}</td>
			<td class="right-align">

			<form class="right-align" action="{% url 'completeTask' %}" method="POST">
					{% csrf_token %}
						<input type="hidden" name="task" value="{{task.pk}}"/>
						<div  class="row right-align right">
							<div class="input-field col right-align ">
								<button class="btn-floating waves-effect waves-teal" id="sub_btn" name="sub" type="submit" min="0"><i class="material-icons left">check</i></button>
							</div>
						</div>
			</form>
			</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>
{% endblock %}
