{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
            <div class="card-content center-align">
                خطایی در ثبت سفارش پیش آمده.
                </br>
                لطفا از اعتبار خود اطمینان حاصل کنید.
            </div>
            <div class="card-action center-align">
                <a class="btn" style="margin-left:10px" href="{% url 'menu' %}">منو</a>
                <a class="btn" style="margin-right:10px" href="{% url 'myOrders' %}">سفارشات من</a>
            </div>
    	</div>
{% endblock %}
