html {
    font-family: "dastnevis";
}

.content {
    direction: rtl;
}

.container.mainContainer {
    min-height: 308px;
}

.input-field label {
    right: 0.75rem;
    left: unset;
}
p {
	text-align: right;
}
.disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    opacity: 0.5;
    background-color: #EEE;
}

a.icon-link:link, a.icon-link:visited,a.icon-link:hover, a.icon-link:active{
	color:#212121;
    text-decoration: none;
}
.loginCard {
    border-radius: 5px;
    margin-top: 20px;
}
.form-card{
    border-radius: 5px;
    margin-top: 20px;
    padding: 0px;
}
.card-content{
}

.right-col{
	text-align:right;
	float:right;
}
.card.super-large{
	min-height: auto;
}

#editForm{
	width:90%;
	height: 100%;
}

/** menu **/
.suggested-label{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
    color:red;
    position: absolute;
    top:20px;
    left:-10px;
}
.chef-suggestion{
    top:0px;
    left:0px;
}
.suggested-label p{
	width:100%;
    text-align: center;
}
