@font-face {
    font-family: 'dastnevis';
    src: url('/static/fonts/dastnevis.ttf') format('truetype');
}

@font-face {
    font-family: 'iran-sans-ultra';
    src: url('/static/fonts/iransans.ttf') format('truetype');
}

@font-face {
    font-family: 'eraslight';
    src: url('/static/fonts/eraslight.ttf') format('truetype'),
    url('/static/fonts/eraslight.woff') format('woff');
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'eras-medium';
    src: url('/static/fonts/eras-medium.ttf') format('truetype');
    unicode-range: U+0000-00FF;
}
