{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize-fonts.css' %}"/>
    <script type="text/javascript" src="{% static 'parking/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    {% block header %}{% endblock %}
  </head>
  <body>

    <header>
        <nav>
          <div class="nav-wrapper green lighten-1">
            <span class="row"><a href="/" class="brand-logo col s1 left">
                <i class="material-icons medium center-align">room_service</i>
            </a></span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% if request.user.is_authenticated %}
                  {% if manager %}
                    <li><a href="{% url 'EmployeeManagemnet' %}">مدیریت کارمندها</a></li>
                  {% endif %}
                  <li><a href="{% url 'showReports' %}">مشاهده‌ی گزارش‌ها</a></li>
                  <li><a href="{% url 'parking' %}">پارکینگ</a></li>
                  <li><a href="{% url 'menu' %}">منو</a></li>
                  <li><a href="{% url 'seeCredit' %}">اعتبار فعلی</a></li>
                  <li><a href="{% url 'myOrders' %}">سفارشات من</a></li>
                  <li><a href="{% url 'branches' %}">شعبات</a></li>
                  <li><a href="{% url 'logout' %}">خروج</a></li>
                  <li><a href="{% url 'profile' %}"><i class="material-icons">account_circle</i></a></li>
              {% else %}
                  <li><a href="{% url 'login' %}">ورود</a></li>
                  <li><a href="{% url 'signupPage' %}">ثبت‌نام</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
    </header>
    <main>
        <div class="row">

          <!-- <div class="col s2 side-nav">
            <p class="flat-text-header">Welcome!</p>
            <p class="flat-text"></p>
          </div> -->

          <div class="container mainContainer">
              <div class="col s12 content">
                  {% block content %}{% endblock %}
              </div>
          </div>

        </div>
    </main>
    <footer class="page-footer green lighten-1">
        <div class="container">
            <div class="row">
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">صفحات مرتبط</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="{% url 'branches' %}">شعبات</a></li>
                  <li><a class="grey-text text-lighten-3" href="{% url 'index' %}">صفحه شروع</a></li>
                </ul>
              </div>
              <div class="col l6 s12">
                <h5 class="white-text right">رستوران دوستان</h5>
                </br>
                <p class="grey-text text-lighten-4">به وبگاه رستوران دوستان خوش‌‌آمدید.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright, none!
            </div>
          </div>
    </footer>
  </body>
</html>
