{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
            <div class="card-content">
        		<form class="" id="loginForm" action="{% url 'checkLogin' %}" method='POST'>
        		{% csrf_token %}
        		<!-- <span class="card-title">
        			ورود
                </div> -->
                <!-- <div class="divider"></div> -->
        		<input name="next" type="hidden" value="{{ next }}" />
                    <div class="row" style="100">
                        <div class="input-field col s12">
        		             <input id="username" name="username" type="text"/>
                             <label for="username">نام کاربری</label>
                         </div>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password"/>
                         <label for="password">کلمه رمز</label>
                     </div>
                     <div class="input-field left-align">
                         <button class=" green btn waves-effect waves-light " type="submit" name="action">ورود
                             <i class="material-icons left">arrow_back</i>
                         </button>
                    </div>
        		</form>
            </div>
    	</div>
    </div>
{% endblock %}
