{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login Form{% endblock %}
{% block css %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    	<div class="col card loginCard push-s4 s4">
            <div class="card-content">
        		<form class="" id="signupForm" action="{% url 'checkSignup' %}" method='POST'>
        		{% csrf_token %}
        		<input name="next" type="hidden" value="{{ next }}" />
                    <div class="row">
                        <div class="input-field col s12">
        		             <input id="firstName" name="firstName" type="text" class="validate" required="true"/>
                             <label for="firstName">نام</label>
                        </div>
                        <div class="input-field col s12">
        		             <input id="lastName" name="lastName" type="text" class="validate" required="true"/>
                             <label for="lastName">نام خانوادگی</label>
                        </div>
                        <div class="input-field col s12">
        		             <input id="username" name="username" type="text" class="validate" required="true"/>
                             <label for="username">نام کاربری</label>
                        </div>
                        <div class="input-field col s12">
        		             <input id="email" name="email" type="email" class="validate" required="true"/>
                             <label for="email">رایانامه</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate" required="true"/>
                            <label for="password">کلمه رمز</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="address" name="address" class="materialize-textarea validate" required="true"></textarea>
                            <label for="address">آدرس</label>
                        </div>
                    </div>
                     <div class="input-field left-align">
                         <button class=" green btn waves-effect waves-light " type="submit" name="action">
                             ثبت‌نام
                             <i class="material-icons left">arrow_back</i>
                         </button>
                    </div>
        		</form>
            </div>
    	</div>
    </div>
{% endblock %}
